body {
    color: #FFC312;
    background-image: url('https://sfwallpaper.com/images/background-images-for-websites-3.jpg');
}

#initPage,
#loginPage,
#confirmPage,
#newUsersPage,
#navBar,
#asociatesPage {
    display: none;
}

#createAccountModal {
    position: absolute;
    text-decoration: none;
}

#modalText {
    color: gray;
}

h1,
h2,
h3 {
    text-align: center;
}

.card {
    height: auto;
    margin-top: 10%;
    margin-bottom: auto;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.card-header h3 {
    color: white;
}

.input-group-prepend span {
    width: auto;
    background-color: #FFC312;
    color: black;
    border: 0 !important;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: white;
    width: auto;
}

.login_btn:hover {
    size: 5em;
    color: black;
    background-color: #FFC312;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

#name,
#address {
    font-size: larger;
    text-align: center;
}

.radio {
    margin-left: 1%;
}

#display {
    text-align: center;
    font-size: 1.5rem;
}

.buttonContainer {
    text-align: center;
}

#userList {
    text-align: center;
}

#username {
    text-transform: capitalize;
}

#userLogged {
    font-size: small;
}


/*NAV BAR*/

#navBar {
    margin-left: 55%;
    background-color: rgba(5, 17, 83, 0);
}

.navItem {
    margin: 10px 0px 0px 10px;
    text-transform: uppercase;
    font-size: 18px;
    cursor: pointer;
}

.navbar .active {
    color: #FFC312;
    font-weight: bold;
    font-size: 12px;
    border-left: 3px solid #FFC312;
    border-radius: 40px;
}

.dropdown-menu {
    background-color: rgba(255, 195, 18, 0.9);
    padding: 1rem 1rem;
    text-align: center;
    color: navy;
}

#logout {
    color: black;
}

#userLogged {
    cursor: default;
    text-transform: none;
}

#containerReq {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    align-self: center;
    grid-template-columns: 40vw 40vw;
    grid-column-gap: 5%;
    grid-row-gap: 0.02%;
    background: rgba(0, 0, 0, 0.6);
    background-size: contain;
    padding: 4% 2% 4%;
    position: relative;
    justify-self: center;
}

.btnEditAndDlt {
    margin-left: 15px;
}

.btnEditAndDlt:hover {
    text-decoration: underline;
}

.title {
    margin-left: 15px;
    color: white;
}

.requestItem {
    margin-left: 15px;
}

#containerAsociates {
    display: grid;
    margin-left: 5%;
    margin-right: 5%;
    align-items: center;
    align-self: center;
    grid-template-columns: 40vw 40vw;
    grid-column-gap: 5%;
    grid-row-gap: 0.02%;
    background: rgba(0, 0, 0, 0.6);
    background-size: contain;
    padding: 4% 2% 4%;
    position: relative;
    justify-self: center;
}

.reqBtn {
    margin-left: 10px;
}

.requestInfo {
    font-size: large;
    color: white;
    text-transform: capitalize;
}

#deleteBtn,
#editBtn,
#inventoryBtn {
    margin-left: 18%;
}